version: '3'

services:
  api:
    container_name: ${DB_NAME}-api
    restart: unless-stopped
    build: 
      dockerfile: ./dockerfile
      context: .
    volumes:
      - .:/usr/src/app
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    command: >
      sh -c "
            npm i -g sequelize-cli
            sequelize db:migrate --env=development &&
            sequelize db:seed --env=development &&
            npm start"
    depends_on: 
      - db
  db:
    image: postgres:10-alpine
    container_name: ${DB_NAME}-db
    restart: unless-stopped
    ports:
      - "${DB_PORT}:${DB_PORT}"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
  adminer:
    image: adminer
    container_name: ${DB_NAME}-adminer
    restart: unless-stopped
    depends_on: 
      - db
    ports:
      - 8080:8080